/*=============================
          Variables
==============================*/
@import url("https://fonts.googleapis.com/css?family=Asap:400,700&display=swap&subset=latin-ext");

$font-family: 'Asap', sans-serif;
$color-blue: #778beb;
$color-red: #c44569;
$color-light: #ffff;
$border-radius: 5px;

/*=============================
          Global
==============================*/
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

body {
  background-color: $color-blue;
  font-family: $font-family;
}

/*=============================
          Converter
==============================*/
header {
  padding: 20px;
  text-align: center;
  color: $color-light;
  text-shadow: 1px 1px $color-red;
  h1 {
    font-size: 38px;
  }
  p {
    padding: 10px;
    font-size: 26px;
  }
}

.container {
  padding: 40px;
  text-align: center;
}

.temperature_div {
  padding: 5px;
}

input[type=number] {
  width: 500px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid $color-red;
  border-radius: $border-radius;
  font-size: 26px;
  color: $color-red;
  outline: none;
}

.reset_div {
  padding: 40px;
}

#reset_btn {
  width: 200px;
  height: 60px;
  border: none;
  border-radius: $border-radius;
  box-shadow: 2px 2px 4px $color-red;
  font-size: 20px;
  text-transform: uppercase;
  color: $color-red;
  outline: none;
}